.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img--hide {
  display: none;
}

.button {
  border-radius: 4px;
  background-color: #e6e6e6;
  border: 0;
  padding: 20px;
  color: #0f0f0f;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
  box-sizing: border-box;
}

.inner_text {
  margin: 0 20px;
  font-size: 18px;
}


.square {
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.button--image {
  &.selected {
    border: 1px solid #000;
  }
}

.imgContainer {
  max-width: 400px;
  img {
    width: 100%;

  }
}

.carousel-image {
  height: 200px;
}

.button--addToCart {
  min-width: 200px;
  margin-left: 20px;
}